  <div class="jumbotron">
    <h1 class="display-3">Hello, <%= @user.name%> ! </h1>
    <p class="lead">Your pair for today is <%= current_user_pair %></p>
    <hr class="my-4">
  </div>
  <p>
  <%= button_tag 'History' class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"%>
 </p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
